.u-section-1 .u-sheet-1 {min-height: 799px}
.u-section-1 .u-text-1 {font-weight: 700; margin: 60px auto 0 0}
.u-section-1 .u-text-2 {margin: 20px 627px 0 0}
.u-section-1 .u-slider-1 {min-height: 550px; width: 1254px; margin: 20px -57px 60px}
.u-section-1 .u-carousel-indicators-1 {position: absolute; bottom: 10px}
.u-section-1 .u-container-layout-1 {padding: 30px 55px}
.u-section-1 .u-image-1 {height: 490px; margin: 0 auto 0 0}
.u-section-1 .u-container-layout-2 {padding: 30px}
.u-section-1 .u-image-2 {width: 1141px; height: 462px; object-position: 50% 25.78%; margin: 0 auto}
.u-section-1 .u-container-layout-3 {padding: 30px 50px}
.u-section-1 .u-image-3 {width: 1138px; height: 482px; object-position: 50% 0.56%; margin: 0 auto}
.u-section-1 .u-container-layout-4 {padding: 30px 50px}
.u-section-1 .u-image-4 {width: 1138px; height: 490px; object-position: 50% 37.42%; margin: 0 auto}
.u-section-1 .u-container-layout-5 {padding: 30px 50px}
.u-section-1 .u-image-5 {width: 1135px; height: 490px; object-position: 50% 97.26%; margin: 0 auto}
.u-section-1 .u-container-layout-6 {padding: 30px 50px}
.u-section-1 .u-image-6 {width: 1135px; height: 490px; margin: 0 auto}
.u-section-1 .u-container-layout-7 {padding: 30px 50px}
.u-section-1 .u-image-7 {width: 1146px; height: 490px; object-position: 50% 61.23%; margin: 0 0 0 auto}
.u-section-1 .u-container-layout-8 {padding: 30px 50px}
.u-section-1 .u-image-8 {width: 1135px; height: 486px; object-position: 50% 17.17%; margin: 0 auto}
.u-section-1 .u-carousel-control-1 {background-image: none; width: 55px; height: 55px}
.u-section-1 .u-carousel-control-2 {background-image: none; width: 55px; height: 55px; left: auto; position: absolute; right: 2px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 434px}
.u-section-1 .u-text-2 {margin-right: 427px}
.u-section-1 .u-slider-1 {min-height: 419px; height: auto; width: 940px; margin-right: 0; margin-left: 0}
.u-section-1 .u-container-layout-1 {padding-left: 60px; padding-right: 60px}
.u-section-1 .u-image-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-container-layout-2 {padding-left: 60px; padding-right: 60px}
.u-section-1 .u-image-2 {width: 880px; height: 411px}
.u-section-1 .u-image-3 {width: 840px; height: 356px}
.u-section-1 .u-image-4 {width: 840px; height: 362px}
.u-section-1 .u-image-5 {width: 840px; height: 363px}
.u-section-1 .u-image-6 {width: 840px; height: 363px}
.u-section-1 .u-image-7 {width: 840px; height: 359px}
.u-section-1 .u-image-8 {width: 840px; height: 360px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 835px}
.u-section-1 .u-text-2 {margin-right: 207px}
.u-section-1 .u-slider-1 {min-height: 453px; width: 720px}
.u-section-1 .u-container-layout-2 {padding-right: 65px}
.u-section-1 .u-image-2 {width: 660px; height: 334px}
.u-section-1 .u-container-layout-3 {padding-left: 30px; padding-right: 30px}
.u-section-1 .u-image-3 {width: 660px; height: 280px}
.u-section-1 .u-container-layout-4 {padding-left: 30px; padding-right: 30px}
.u-section-1 .u-image-4 {width: 660px; height: 284px}
.u-section-1 .u-container-layout-5 {padding-left: 30px; padding-right: 30px}
.u-section-1 .u-image-5 {width: 660px; height: 285px}
.u-section-1 .u-container-layout-6 {padding-left: 30px; padding-right: 30px}
.u-section-1 .u-image-6 {width: 660px; height: 285px}
.u-section-1 .u-container-layout-7 {padding-left: 30px; padding-right: 30px}
.u-section-1 .u-image-7 {width: 660px; height: 282px}
.u-section-1 .u-container-layout-8 {padding-left: 30px; padding-right: 30px}
.u-section-1 .u-image-8 {width: 660px; height: 283px} }

@media (max-width: 767px){ .u-section-1 .u-text-2 {margin-right: 27px}
.u-section-1 .u-slider-1 {width: 540px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-image-2 {width: 520px; height: 263px}
.u-section-1 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-image-3 {width: 520px; height: 221px}
.u-section-1 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-image-4 {width: 520px; height: 224px}
.u-section-1 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-image-5 {width: 520px; height: 225px}
.u-section-1 .u-container-layout-6 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-image-6 {width: 520px; height: 225px}
.u-section-1 .u-container-layout-7 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-image-7 {width: 520px; height: 222px}
.u-section-1 .u-container-layout-8 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-image-8 {width: 520px; height: 223px} }

@media (max-width: 575px){ .u-section-1 .u-text-2 {margin-right: 0}
.u-section-1 .u-slider-1 {width: 340px}
.u-section-1 .u-image-2 {width: 320px; height: 162px}
.u-section-1 .u-image-3 {width: 320px; height: 213px}
.u-section-1 .u-image-4 {width: 320px; height: 213px}
.u-section-1 .u-image-5 {width: 320px; height: 213px}
.u-section-1 .u-image-6 {width: 320px; height: 213px}
.u-section-1 .u-image-7 {width: 320px; height: 213px}
.u-section-1 .u-image-8 {width: 320px; height: 137px} }